
homeworks/Hw 3 - Due 2:17/STAT-615_YuntingChiu_HW3.gdoc
*.gdoc
project/covidJHU.csv
project/covidJHU.csv.zip
project/Yunting/covidJHU.csv
project/Yunting/covidJHU.csv.zip
project/STAT-615_Project/data_analysis_prject/STAT 415 615 Group Project Slides (Yun-Ting, Chi-Yun, and Ana).gslides
project/STAT-615_Project/self_study_project/Predicting Death Cases Using Regression Trees.gslides
